@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.logo{
    margin: auto;
    padding: 2px;
    margin-top: 30px;
}
.logo-div{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.middle-div{
    width: 100%;
    text-align: center;
    margin-top: 3.5%;
}

.para{
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 0px;
}

.heading{
    background-image: linear-gradient(90deg, #4F5AD8 40%, #79EAFF 51.56%, #57F4F7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 0px;
}

.inner-div{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.para2{
    width: 60%;
    align-items: center;
    text-align: center;
    margin: auto;
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;
}
.button-div{
    text-align: center;
    vertical-align: middle;
}
.button{
    background-color: #4F5AD8;
    width: 14%;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

.button > span{
    padding: 5px;
}

/* .arrow{
    border: 2px solid red;
    font-size: 30px;
    transform: scale(1.2);
} */

.reg-button{
    background-color: #4F5AD8;
    color: white;
    border-radius: 10px;
    width: 14%;
    padding: 8px;
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

.button-div > p{
    margin-top: 5px;
    font-size: 12px;
}

